@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
}
body {
    font-family: 'Verdana';
}
.active{
    color: white;
    background: green;
    padding: 10px;
}
.inactive{
    color:black;
}